.teams-display {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.team-display {
  /* width: 300px; */
  /* display: flex; */
  width: 100%;
  margin: 10px;
  text-align: center;
}

.team-title {
  font-size: 1em;
}

.team-info {
  font-size: 1em;
}

.team-image {
  padding-top: 0px;

  width: 5em;
}

button {
  width: 75%;
}

.my-nav {
  margin-bottom: 10px;
}

.brand-nav {
  margin-left: 10px;
  margin-right: 10px;
}
.no-ally {
  text-align: center;
}

.card-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.team {
  width: 100%;
}
